!!!
%html{"ng-app" => "farmApp"} 
  %head
    %title Angular-Devise
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %div= {'ng-view': ''}
    %class.notice= notice
    %class.alert= alert
    = yield
