<!DOCTYPE html>
<html ng-app="farmApp">
<head>
    <title>VeggieTables</title>

<link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<header>
  <span><h1>VeggieTables</h1></span>
  <nav>
<ul>
    <li class="col-md-1 home"><a href="#/"><h5><i class="fa fa-home"></i>  Home</h5></a></li>
    <li class="col-md-1 producer"><a href="#/producer"><h5><i class="fa fa-truck"></i> Producers</h5></a></li>
    <li class="col-md-1 restaurant"><a href="#/restaurant"><h5><i class="fa fa-cutlery"></i>Restaurants</h5></a></li>
    <li class="col-md-1 consumer"><a href="#/consumer"><h5><i class="fa fa-users"></i>Consumers</h5></a></li>
    <li class="col-md-1 contact"><a href="#/contact"><h5><i class="fa fa-lightbulb-o"></i> Contact</h5></a></li>
    <li class="col-md-1 signup"><a href="/users/sign_up"><h5><i class="fa fa-lightbulb-o"></i> Sign Up </h5></a></li>
    <li class="col-md-1 login"><a href="/users/sign_in"><h5><i class="fa fa-lightbulb-o"></i>Log In</h5></a></li>
    <button ng-click="submitLogoutAct(user)">Log Out</button>
  </ul>
  </nav>

</header>
<div class="container col-sm-12 col-md-12 col-lg-12">
<ng-view></ng-view>

</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<!-- <footer class="col-md-12">
  <nav>
    <ul>
      <li class="col-md-3">
        <a href="#/producer"><h3>Producers</h3></a>
      </li>
      <li class="col-md-3">
        <a href="#/restaurant"><h3>  Restaurants</h3></a>
      </li>
      <li class="col-md-3">
        <a href="#/not-found"><h3> Eat. Learn. Grow.</h3></a>
      </li>
      <li class="col-md-3">
        <a href="#/consumer"><h3>Consumers</h3></a>
      </li>
    </ul>
  </nav>
</footer> -->
<script src="assets/angular-bootstrap/ui-bootstrap.js"></script>
<script src="assets/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src='assets/angular-google-maps/dist/angular-google-maps.js'></script>
<script src="assets/lodash/dist/lodash.js"></script>
</body>

</html>
